<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight" publicKeyToken="e7570ab207bcb616" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.1.0" newVersion="5.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows" publicKeyToken="7cec85d7bea7798e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioDocumentador" />
        <binding name="ClientesPhSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://a2webdllo:6623/ServicioDocumentadorGenerico/ServicioDocumentador.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioDocumentador"
        contract="ServicioDocumentador.IServicioDocumentador" name="BasicHttpBinding_IServicioDocumentador" />
      <endpoint address="http://boinfbxsoa:20100/WSSLiClientesPh/ClientesPh.jws"
        binding="basicHttpBinding" bindingConfiguration="ClientesPhSoapBinding"
        contract="WSPhoenix.ClientesPh" name="ClientesPhSoap" />
    </client>
  </system.serviceModel>
</configuration>