<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="A2.OyD.OYDServer.RIA.Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="A2.OyD.OYDServer.RIA.Web.My.MySettings.dbOYDConnectionString" connectionString="IrNzhqza18F+0iixDfKd1BjQpBMDaOTvQ24yesbQ3NkzVMxditcDQGfl2fK9Z3/gHZXJzPUjZhfvjWv6gaX9X61GDllS/25ocqrf+S95lzZ8Nn1SI4kLKHeL15O8b5TMiboyPJeZIIM2tOjqahy8G6fUUG7onBEt3mcMK5Zr3GTdZqn78GhW6obq9JB0oaHK" />
    <add name="A2.OyD.OYDServer.RIA.Web.My.MySettings.dbOYDUtilidadesConnectionString" connectionString="cBU135I4Fw9QY1YigQF7MLtrdY+sbQJMsrJoSYtdDT24wr3kOlohFZ/ae8XQAt0QOWM6iHpaQCYbAxtPfCIgVDjgWWSJfCd+fTkHLHlGdFM51z28w5D16d7zPSQq9Ee48mME/5r+iuQY1cylm3I7NGi2bkwjtRW4nLqJWh0CC9s=" providerName="" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <A2.OyD.OYDServer.RIA.Web.My.MySettings>
      <setting name="DirectorioArchivosUpload" serializeAs="String">
        <value>Uploads</value>
      </setting>
      <setting name="HabilitaDebbugImportar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Seguridad_TiempoLlamado" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Seguridad_NoValidar" serializeAs="String">
        <value>NO</value>
      </setting>
    </A2.OyD.OYDServer.RIA.Web.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows" publicKeyToken="7cec85d7bea7798e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>