<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="A2ConsolaWPF.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows" publicKeyToken="7cec85d7bea7798e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <A2ConsolaWPF.MySettings>
      <setting name="URLServicioSeguridad" serializeAs="String">
        <value>http://SRV-A2WEB1:3080/V1912/A2ServiciosUtilidades/Servicios/SeguridadApp.svc</value>
      </setting>
      <setting name="SeguridadIntegrada" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Aplicacion" serializeAs="String">
        <value>oyd server</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>5.0</value>
      </setting>
      <setting name="UrlNotificaciones" serializeAs="String">
        <value>http://SRV-A2WEB1:3080/V1912/A2Notificaciones/</value>
      </setting>
      <setting name="UrlMotorCalculos" serializeAs="String">
        <value>http://SRV-A2WEB1:3080/V1912/A2MotorCalculos/</value>
      </setting>
      <setting name="MOSTRAR_DETALLEERROR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SugerirLogin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="US_SIN_DOMINIO" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ConsolaVer" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="Multiaplicacion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="URLServicioSeguridadApi" serializeAs="String">
        <value>http://SRV-A2WEB1:3080/V1912/</value>
      </setting>
      <setting name="A2VArchivoConfigRpts" serializeAs="String">
        <value>Reportes_OYDNet.xml</value>
      </setting>
      <setting name="URLServicioSeguridadApi_DirectorioVirtual" serializeAs="String">
        <value>A2ServiciosUtilidadesApi</value>
      </setting>
      <setting name="CantidadVentanasPermitidas" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MostrarSeguimiento" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="URLServicioLog" serializeAs="String">
        <value>http://SRV-A2WEB1:3080/V1912/A2ServiciosUtilidades/Servicios/SeguridadApp.svc</value>
      </setting>
      <setting name="ColorFondoTabPrincipal" serializeAs="String">
        <value />
      </setting>
      <setting name="TextoFondoTabPrincipal" serializeAs="String">
        <value />
      </setting>
      <setting name="ValidarVersionAssemblies" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServiciosOffline" serializeAs="String">
        <value>..\..\..\..\..\_ArchivosConfiguracion\</value>
      </setting>
    </A2ConsolaWPF.MySettings>
  </applicationSettings>
</configuration>