<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="OpenRiaServices.DomainServices.Hosting.DomainServicesSection, OpenRiaServices.DomainServices.Hosting"
        allowDefinition="MachineToApplication" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="A2.OyD.OYDServer.RIA.Web.My.MySettings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="A2.OyD.OYDServer.RIA.Web.My.MySettings.dbUtilidadesConnectionString"
      connectionString="jC8q2dL5RPwiiKdYiI/ErK+Cgv8SVprD87lh9OXnERYKEd0ASZWjJ7lKf4O72rMjPyeAAkGtLSTEnmHR0PoyH8WabPpWqB26AbgJjzfwUd+L1c7+JEcts6fLuNRT3k7X9Elo9Si0pR8pqYv2ZRzBSXks9DCRBvyuxBB49Opkd2G1HtyREwMA33lYL7IN9abL"
      providerName="System.Data.SqlClient"/>
    <add name="DER_OperacionesEntities"
      connectionString="metadata=res://*/DER_Operaciones.csdl|res://*/DER_Operaciones.ssdl|res://*/DER_Operaciones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=A2SQLDLLO\SQL2008;initial catalog=dbOyDNet_V6.2.0;persist security info=True;user id=oydnet;password=oydnet;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="A2.OyD.OYDServer.RIA.Web.My.MySettings.dbOYDConnectionString"
      connectionString="jC8q2dL5RPwiiKdYiI/ErK+Cgv8SVprD87lh9OXnERYKEd0ASZWjJ7lKf4O72rMjPyeAAkGtLSTEnmHR0PoyH/wVXsDTGJabDvWqLfZcDmWtkszdgrSzbseUybJqKJiyVlHqa+6VYKfhRZFnxM0ti1itgGhEDAhYxxd3HKHyDZqyTXteAPnsYw=="
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
        type="OpenRiaServices.DomainServices.Hosting.DomainServiceHttpModule, OpenRiaServices.DomainServices.Hosting"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.6" debug="true"/>
    <authentication mode="Windows"/>
    <identity impersonate="false"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="360"/>
    <globalization uiCulture="en" culture="en-US"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpModules>
      <add name="DomainServiceModule" type="OpenRiaServices.DomainServices.Hosting.DomainServiceHttpModule, OpenRiaServices.DomainServices.Hosting"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="A2.OyD.OYDServer.Services.GeneralesBehavior" name="A2.OyD.OYDServer.RIA.Web.Generales">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenerales" contract="A2.OyD.OYDServer.RIA.Web.IGenerales">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="A2.OyD.OYDServer.Services.GeneralesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGenerales">
          <security mode="None">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="ReportExecutionServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://A2SQLDLLO:80/ReportServer_SQLREPORTS/ReportExecution2005.asmx" binding="basicHttpBinding"
        bindingConfiguration="ReportExecutionServiceSoap" contract="MSReportingServices.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap"/>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <domainServices>
      <endpoints>
        <add name="soap" type="OpenRiaServices.DomainServices.Hosting.SoapXmlEndpointFactory, OpenRiaServices.DomainServices.Hosting.Endpoint"/>
        <add name="json" type="OpenRiaServices.DomainServices.Hosting.JsonEndpointFactory, OpenRiaServices.DomainServices.Hosting.Endpoint"/>
      </endpoints>
    </domainServices>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows" publicKeyToken="7cec85d7bea7798e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <A2.OyD.OYDServer.RIA.Web.My.MySettings>
      <setting name="DirectorioArchivosUpload" serializeAs="String">
        <value>Uploads</value>
      </setting>
      <setting name="EliminarArchivosUpload" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DiasArchivosUpload" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CarpetasExluirEliminarUpload" serializeAs="String">
        <value>Formatos</value>
      </setting>
      <setting name="ArchivosExluirEliminarUpload" serializeAs="String">
        <value>FuncionCarpetaUploads.txt|web.config</value>
      </setting>
      <setting name="Seguridad_NoValidar" serializeAs="String">
        <value>SI</value>
      </setting>
      <setting name="Seguridad_TiempoLlamado" serializeAs="String">
        <value>30</value>
      </setting>
    </A2.OyD.OYDServer.RIA.Web.My.MySettings>
  </applicationSettings>
</configuration>