<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="A2.Riesgos.RIA.Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="A2.OyD.OYDServer.RIA.Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <add name="A2RiesgosConnectionString" connectionString="IOj3b0sStTzrxAw5vjoAVvj8XNBFfqCyuRV7TA4fvHeJRKITDuS1Q8tPdt1uTHYsZI1G2uIErYr0ZnltCOhJP/YN+qRV3TE5dVR5+sZlLkSqXHxGTrhDOt4zBNIxvHR8Z0gFOFdXFhN898AnZl46vdk+rmUznCtn68loUMUEPfph7z97AmOaEQ=="
      providerName="System.Data.SqlClient" />
    <add name="A2.Riesgos.RIA.Web.My.MySettings.dbA2Utilidades_Net_DesarrolloConnectionString"
      connectionString="Data Source=A2SQLDLLO\SQL2008;Initial Catalog=dbA2Utilidades_Net_Desarrollo;Persist Security Info=True;User ID=oydnet;Password=oydnet"
      providerName="System.Data.SqlClient" />
    <add name="A2.Riesgos.RIA.Web.My.MySettings.A2RiesgosConnectionString"
      connectionString="IOj3b0sStTzlOJEN0K07gyAkkdD4Cq4GRX47IwB+1iPrU7yig53cOJFvDRrKnQis/Wc24OL2zb2VmjMcKQxYgPNjHRBCYJE0b69aFma9sz1Q1EFfCfgta3yFlpI0D9zB84scqS+m+aUAnjy6QUp8M8SVY/cCSJPqKmk6aa/yDf4=" />
    <add name="A2.Riesgos.RIA.Web.My.Web.My.MySettings.dbOYDConnectionString"
      connectionString="jC8q2dL5RPxf8x5hHR8RABhJcCgNLs56QxYBz3SUE6jO8s+IUajcsXdl568eoe2HoLJ2Kk1d9X436KAvU36S5BJzagDGO2BIKrRyo9b2nCqhIP3Jp7wlBy9f8XTANAtpRjWUEhUftRznWBJgutDh/d4p5MV66uxI"
      providerName="System.Data.SqlClient" />
    <add name="A2.Riesgos.RIA.Web.My.MySettings.dbOYDConnectionString"
      connectionString="jC8q2dL5RPxf8x5hHR8RABhJcCgNLs56QxYBz3SUE6jO8s+IUajcsXdl568eoe2HoLJ2Kk1d9X436KAvU36S5BJzagDGO2BIKrRyo9b2nCqhIP3Jp7wlBy9f8XTANAtpRjWUEhUftRznWBJgutDh/d4p5MV66uxI" />
    <add name="A2.Riesgos.RIA.Web.My.MySettings.dbOYDUtilidadesConnectionString"
      connectionString="cBU135I4Fw9QYYigQF7MLtrdY+sbQJMsrJoSYtdDT24wr3kOlohFZ/ae8XQAt0QOWM6iHpaQCYbAxtPfCIgVDjgWWSJfCd+fTkHLHlGdFM51z28w5D16d7zPSQq9Ee48mME/5r+iuQY1cylm3I7NGi2bkwjtRW4nLqJWh0CC9s=" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <domainServices>
      <endpoints>
        <add name="OData" type="System.ServiceModel.DomainServices.Hosting.ODataEndpointFactory, System.ServiceModel.DomainServices.Hosting.OData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </endpoints>
    </domainServices>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
  </system.web>
  <applicationSettings>
    <A2.Riesgos.RIA.Web.My.MySettings>
      <setting name="Seguridad_TiempoLlamado" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Seguridad_NoValidar" serializeAs="String">
        <value>NO</value>
      </setting>
    </A2.Riesgos.RIA.Web.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
