<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenRiaServices.Client" version="4.5.0" targetFramework="net46" />
  <package id="OpenRiaServices.Client.CodeGen" version="4.5.0" targetFramework="net46" />
  <package id="OpenRiaServices.Client.Core" version="4.5.0" targetFramework="net46" />
</packages>